<!DOCTYPE html>
<html>
	<head>
		<title>
		</title>
		<link rel = "stylesheet" type = "text/css" href = "style.css" />
		<style>
		</style>
		<script src="script.js">
		</script>
	</head>
	<body class = "centered">
		<h1 id = "title">Welcome to Pet Diary</h1>
		<h2>A social media platform where you can show the world your pets!</h2>
		<img src="../images/banner.jpg" id="banner">
		<div id = "loginBox">
			<label for = "user">Username:</label><br> <input id = "user" type = "text"> </input>
			<br>
			<label for = "password">Password:</label><br> <input id = "password" type = "text"> </input>
			<br><br>
			<a href = "home.html"> <button>Log In</button></a>
			<br><br>
			<a href = "signUp.html">Not Registered? Click here to make account!</a>
		</div>
	</body>
</html>
